@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

@theme {
  --default-font-family: 'Inter Tight', sans-serif;
  --default-font-optical-sizing: auto;
  --default-font-weight: 400;
  --default-font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  @apply bg-sky-50;
  @apply flex;
}

#app {
  @apply flex;
  @apply flex-col;
  @apply grow;
}

.btn {
  @apply text-sm;
  @apply font-medium;
  @apply text-indigo-700;
  @apply hover:shadow-sm;
  @apply hover:bg-gray-50;
  @apply border-gray-300;
  @apply focus:border-indigo-700;
  @apply focus:outline-none;
  @apply rounded-sm;
  @apply flex;
  @apply items-center;
  @apply gap-2;
  @apply cursor-pointer;
}

.btn:not(.btn--small):not(.btn--icon) {
  @apply px-4;
  @apply py-2;
  @apply border;
}

.btn--small {
  @apply px-2;
  @apply py-1;
}

.btn--icon {
  @apply p-1;
}
